<div class="product-module">

  <div class="product-image-wrapper">
    <div id="product-images" data-hook="product_images">
      <div id="main-image" data-hook>

        <%if product.images.any?  %>
            <%= image_tag product.images[0].attachment.url(:large), :itemprop => "image"%>
          <%elsif product.variant_images.any? %>
            <%= image_tag product.variant_images[0].attachment.url(:large), :itemprop => "image"%>
          <%else %>
            <p>"placeholder image"</p>
          <% end %>

      </div>

      <div id="thumbnails" data-hook>
      <%# no need for thumbnails unless there is more than one image %>
      <% if (product.images + product.variant_images).uniq.size > 1 %>
        <ul id="product-thumbnails" class="thumbnails inline" data-hook>
        <% product.images.each do |i| %>
          <li class='tmb-all <%= i.variant_html_classes %>' data-products="[<%= i.variant_html_attr %>]">
            <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
          </li>
        <% end %>

        <% if product.has_variants? %>
          <% product.variant_images.each do |i| %>
            <% next if product.images.include?(i) %>
             <li class='vtmb <%= i.variant_html_classes %>' data-products="[<%= i.variant_html_attr %>]">
              <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
            </li>
          <% end %>
        <% end %>
        </ul>
      <% end %>
      </div>

    </div>
  </div>

  <div class="product-info-wrapper">
    <h3 class="didot"><%= product.name %></h3>

    <div class="price"><%= Spree::Money.new(product.price).to_s %></div>
    <p><%=product.description%></p>



    <%= form_for :order, :url => spree.populate_orders_url, :remote => true do |f| %>

      <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      <% if product.variants_and_option_values.any? %>
      <% if product.has_variants? %>

      <% index = 0 %>

      <div id="product-variants" class="medium-6 columns">
        <% product.grouped_option_values.each do |type, values| %>
        <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
          <%= label_tag 'option-value-name', Spree.t(:select_a, :index => index + 1, :name => type.presentation.capitalize) %>
          <ul class="variant-option-values inline-list" data-group="<%= index %>">
            <% values.sort_by(&:position).each do |value| %>
            <% classes = ["option-value"] %>
            <% unless (variants = product.variants_for_option_value(value)).empty? %>
            <% classes << ( variants.any? { |v| v.in_stock? } ? "in-stock" : "out-of-stock" ) if index == 0 %>
              <%
                classes = classes.join(" ")
                classes = classes + " " + "btn btn-secondary"
              %>
              <% variant_ids = [] %>

              <% variants.each do |v| %>
                <% (variant_ids ||= []) << v.id if v.in_stock? %>
              <% end %>

              <% index == 0 ? (disabled = false) : (disabled = true) %>
              <%if type.presentation == 'Size' %>
              <li><%= button_tag(value.presentation, { :class => classes, :disabled => disabled, :type => 'button', :data => {products: variant_ids, group: index} }) %></li>
              <%else %>
              <li><span class="<%= classes %>" data-products="<%= variant_ids %>" data-group="<%=index%>"><%=value.presentation%></span></li>

              <%end%>
                <% end %>
              <% end %>
            </ul>
          </div>
          <% index += 1 %>
        <% end %>
      </div>

      <%= hidden_field_tag "variant_id", "", :id => "variant_id", :class => "hidden" %>
      <% end %>

      <div class="add-to-cart">
        <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
        <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
          <%= Spree.t(:add_to_cart) %>
        <% end %>
      </div>

    <% end %>
    </div>
  <%end %>
  </div>

</div>
