<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <% stamp = el.ingredient(:stamp_image) %>
    <% mailchimp_list_id = el.ingredient(:mailchimp_list_id)%>

    <div class="bg-color <%=el.render :background_color %>">
 
    <h3 class="big-text"><%= el.render :text %></h3>


    <%= form_tag('/mailchimp/subscribe', method: "post", id: "email-capture", remote: true, class: "email-form") do %>
      <% if mailchimp_list_id.present? %>
        <%= hidden_field_tag('u', 'f775b6e02c5dce810e40a4652') %>
        <%= hidden_field_tag('id', mailchimp_list_id) %>
      <% end %>
      <%= email_field(:email, :address, {id: "email", placeholder: "Enter Your Email", class: "email-input"}) %>
    <%= submit_tag("Sign Up", class: "btn-primary", :onClick => "ga('send', 'event', { eventCategory: 'email', eventAction: 'capture', eventLabel: '" + el.render(:google_analytics_event_label) + "', eventValue: 1});") %>

    <%end%>
    
    <div id="response"></div>

     <% if stamp %>
      <div class="stamp-image">
        <%= image_tag show_alchemy_picture_path(stamp,  :format => (stamp.try(:suffix).to_s == 'png' ? 'png' : 'jpg')) %>
      </div>
   <% end %>
    </div>
  <%- end -%>
<%- end -%>
