<%= element_view_for(element, :class => 'jumbo_product', :tag => :section) do |el| -%>
  <% height   = el.ingredient(:module_height)%>
  <% image    = el.ingredient(:product_image)%>
  <% mobile   = el.ingredient(:mobile_image)%>
  <% stamp    = el.ingredient(:stamp_image)%>
  <% pageLink = el.ingredient(:page_link)%>

  <% if @page.page_layout == 'index' && pageLink  %>
    <a href="<%= pageLink %>">
  <%end%>

  <div class="height-wrapper" <%if !height.blank?%> style= "height: <%=height%>px" <%end %>>
    <% if (is_mobile_device? || is_tablet_device?) && mobile %>
      <div class="jumbo-image jumbo-mobile">
      <%= image_tag show_alchemy_picture_path(mobile,  :format => (mobile.try(:suffix).to_s == 'png' ? 'png' : 'jpg')) %>
      </div>
    <%elsif image%>
      <div class="jumbo-image">
      <%= image_tag show_alchemy_picture_path(image,  :format => (image.try(:suffix).to_s == 'png' ? 'png' : 'jpg')) %>
      </div>
    <%end%>


    <div class="module-content jumbo-text <%= el.render :text_alignment %> <%= el.render :text_color %>">
      <div class="superheader"><%= el.render :superheader %></div>
        <div class="module-headline"><%= el.render :headline %></div>
        <div class="module-text"><%= el.render :text %></div>

        <div class="bullet-list">
         <%- element.contents.where(name: ['bullet']).each do |content| -%>
          <% text = content.essence.stripped_body%>
          <div class="bullet"> <%=text%> </div>
        <%- end -%>
       </div>
      <% if stamp %>
      <div class="stamp-image">
        <%= image_tag show_alchemy_picture_path(stamp,  :format => (stamp.try(:suffix).to_s == 'png' ? 'png' : 'jpg')) %>
      </div>
     <% end %>
    </div>
  </div>

  <% if @page.page_layout == 'index' && pageLink  %>
    </a>
  <%end%>
<%- end -%>
